<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @order.duration %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.username %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @order.listing_ids %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
